<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Navigate to </p>
<p>http://hostname:8099/ical when .token file is set or</p>
<p>http://hostname:8099/ical?[token] when you want basic authentification</p>
